/* Write your CSS here */
.todo-list-container {
  background-color: #ffc2a0;
  min-height: 100vh;
  padding: 32px;
  width: 864px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.simple-todos-container {
  background-color: white;
  padding: 24px;
  border-radius: 12px;
  width: 800px;
}
.todo-heading {
  color: #ff8542;
  font-size: 44px;
  font-weight: 600;
  font-family: 'Roboto';
  text-align: center;
  margin-bottom: 64px;
}
